body{
    background-color: gainsboro;
}

.navbar-brand{
    color: gainsboro;
}

h1{
    margin-top: 1rem;
    color:darkgreen;
}

h2{
    margin-top: .75rem;
    margin-bottom: 3rem;
    color: SeaGreen;
}

h4{
    color: SeaGreen;
    text-align: center;
}

h6{
    color: SeaGreen;
}

.radiolist{
    margin-top: 1.5rem;
    padding: .5rem;
    border-style: solid;
    border-color: seagreen;
    border-width: 1px;
}

.labelListaCons{
    margin-bottom: .75rem;
    text-decoration:seagreen ;
    text-decoration-line: underline;
}

.resultadoradiolist{
    margin-top: 1.5rem;
    padding: .5rem;
    border-style: solid;
    border-color: seagreen;
    border-width: 1px;
}

.labelResultCons{
    margin-bottom: .75rem;
    text-decoration:seagreen ;
    text-decoration-line: underline;
}

#planillaTurnos{
    margin-top: 1rem;
}

.table-success {
    --bs-table-bg: #d1e7dd;
    color: seagreen;
    text-align: center;
}

caption{
    text-decoration-line: underline;
    text-decoration-color: seagreen;
}

.form-check-input:checked {
    background-color: darkcyan;
    border-color: darkgreen;
}

#cargaHoraria{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.puestos{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

li{
    list-style: none;
    padding: .5rem;
}